<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecipePuppyTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F762C231F2E6340006E6C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F762C311F2E634B006E6C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD701981F2CA08600F850D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
